@import url(base.css);

header {
  padding: 30px 0;
}
header .head-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .head-logo div img {
  width: 100%;
  height: 100%;
}
header .head-logo .menu {
  display: none;
}
header .nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
header .nav ul li a {
  color: var(--subcolor);
  font-family: var(--Groteskfont);
  font-weight: bold;
}
header .nav ul li .selected {
  color: var(--maincolor);
}
header .auth ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .head .nav ul {
    display: none;
  }
  .head .head-logo .menu {
    display: block;
  }
}
.shopPage .page {
  width: calc(100%);
  height: 392px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/shopPage/shoppage.png);
}
.shopPage .page .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  font-family: var(--subfont);
  padding: 30px;
}
.shopPage .page .intro span {
  font-size: 1em;
  font-family: var(--interfont);
}
.shopPage .page .intro span .home {
  color: #605f5f;
}
.shopPage .page .intro h2 {
  font-size: 3em;
  font-family: var(--Poppinsfont);
}
.shopPage .page .intro p {
  font-size: 2em;
  font-family: var(--interfont);
}
@media screen and (max-width: 830px) {
  .shopPage .page .intro span {
    font-size: 1em;
  }
  .shopPage .page .intro h2 {
    font-size: 2em;
  }
  .shopPage .page .intro p {
    font-size: 1em;
  }
}
